@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}h1, h2, h3, h4, h5, h6, p, a { margin: 0; padding: 0;}
html, 
body{
  margin: 0;
  padding: 0;  
 
}
.App {
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.wrapper {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
}

.headerFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  align-items: center;
  font-weight: 800;
  padding-top: 20px;
}

.navFlex {
  display: flex;
  flex-direction: row;
  width: 40%;
  margin-top: 20px;
}
nav ul {
  list-style-type: none;
}
nav ul li a {
  text-decoration: none;
  font-size: 25px;
  margin-right: 25px;
  color: white;
}
nav ul li a:hover {
  color: lightgrey;
}
.logo {
  font-size: 30px;
  
}
.logoIcon {
  pointer-events: none;
  margin-right: 20px;
}
.landingImg{
  width: 55%;
}
.landingImg img {
  width: 100%;
  
}

.landingFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.landingFlex h1 {
  padding: 0;
  margin: 0;
}
.landingText {
  margin-bottom: 50px;
}
.landingText h2 {
  font-size: 40px;
}
.landingText h3 {
  font-size: 25px;
}
.formDiv {
  padding-top: 50px;
  padding-bottom: 25px;
}
.formDiv h3 {
  font-size: 36px;
  padding-bottom: 30px;
}
.diarySection {
  background: rgb(47, 49, 54);
  color: white;
  padding-bottom: 200px;
  padding-top: 40px;
  font-weight: bold;
}
.nutrientRow {
  border-bottom: 2px solid black;
}
.row {
  display: flex;
  justify-content: space-between;
  position: relative;
  text-align: center;
  margin: 10px auto;
}
.productsRow p {
  position: absolute;
  left: -90px;
  top: 10px;
}
.searchResultsDiv {
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding-top: 15px;
  padding-bottom: 120px;
}

.foodName {
  padding-bottom: 10px;
  text-transform: capitalize;
}
.deleteIcon {
  margin-top: 20px;
  &:hover {
    color: red;
  }
}
.errorHandleForm {
  padding-bottom: 10px;

}
.products p, .simpleFoods p, .nutritionCategory p{ 
  font-size: 14px;
}
.nameRow {
  width: 20%;
  text-align: left;
  text-transform: capitalize;
  border-right: 2px solid black;
  padding-right: 2px;
}
.otherRow {
  width: 7%;
  margin: 10px auto;
}
.dataRow {
  background: white;
  color: black;
  padding: 10px 0;
}
.nutrientName {
text-align: center;
width: 7%;
margin: 5px auto;
}
.searchResultsDiv h3 {
  padding: 15px 0;
  text-decoration: underline;
}
.formDiv label {
  padding-right: 20px;
}
.toolDiv {
  padding: 50px;
  background: white;
  color: black;
}

.recipes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 15px;
}
.recipe {
  width: 18%;
}
.recipe a {
  color: black;
}
.recipeImg {
  height: 150px;
  width: 100%;
  padding-top: 20px;
}
.productImg {
  height: 100px;
  display: block;
  margin: 0 auto;
}
.simpleFoodImg {
  width: 33%;
}

.nutritionBtn {
  width: 100%;
  border-radius: 4%;
  background: rgb(140, 146, 151);
  border: none;
  color: black;
  font-size: 15px;
  padding: 3px 0;
  margin-top: 5px;
  &:hover {
    background: green;
    color: white;
  }
}

.nutritionLabel {
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 4;
  margin: 0 auto;
}
.products {
  background: rgb(206, 212, 218);
  border-right: 1px solid black;
  color: black;
}
.foodResult {
  padding: 20px 20px;
}
.productDisplay {
  display: grid;
  grid-template-columns: 33% 33% 34%;
  grid-template-rows: 25% 5% 5% 5% 5%;
  border-right: 1px solid black;
  background: rgb(173, 181, 189);
  color: black;
}

.productDescription {
  grid-column-start: 1;
  grid-column-end: 4;
}
.addDiaryBtn {
  grid-column-start: 1;
  grid-column-end: 4;
  margin: 0 auto;
  background: rgb(140, 146, 151);
  color: black;
  border: none;
  &:hover {
    background: green;
    color: white;
  }
}
.productDescriptionImg {
  margin: 10px 10px;
}
.simpleFoods {
  background: rgb(47, 49, 54);
}
.simpleFoods, .products, .productDisplay {
  width: 25%;
}
.nutritionCategory {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 2px solid black;
    align-items: center;
    width: 85%;
    margin-left: 10px;
}
footer {
  padding: 10px;
}


@media (prefers-reduced-motion: no-preference) {
  .logoIcon {
    animation: App-logo-spin 3 5s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (max-width){
  
}

@media (max-width: 950px){
  .landingFlex{
    flex-direction: column;
  }
  .landingImg, .landingText {
    width: 100%;
  }
  .productsRow p {
    display: none;
  
  } 
  .productDisplay {
    grid-template-columns: 31% 31% 31%;
    grid-template-rows: 25% 5% 5% 5% 5% 5%;
  }
  .addDiaryBtn {
    margin-left: 20px;
  }
  .products p, .simpleFoods p, .nutritionCategory p {
  font-size: 12px;
  }
  .nutritionBtn {
  font-size: 14px;
  }
  
  .toolDiv {
    display: flex;
    flex-wrap: wrap;
  }
  .recipe {
    width: 50%;
  }
}
@media (max-width: 750px){
  .searchResultsDiv{
    flex-wrap: wrap;
    flex-direction: column;
  }

  .nutritionLabel {
    width: 50%;
  }

  .simpleFoods, .products, .productDisplay {
  width: 100%;  
  }

   .products p, .simpleFoods p, .nutritionCategory p {
  font-size: 16px;
  }
  .products p, .simpleFoods p, .nutritionCategory p {
  font-size: 16px;
  }
  .addDiaryBtn{
    margin: 10px auto;
    padding: 20px 10px;
  }
  .diaryTable {
    font-size: 14px;
  }
  .otherRow {
    width: 10%;
  }
}
@media (max-width: 500px){
  .recipe {
    width: 100%;
  }
  .deleteIcon {
    font-size: 18px;
    padding-left: 10px;
  }
  .headerFlex {
    flex-direction: column;
    padding-top: 20px;
  }
  header p {
    border-bottom: 1px solid white;
    padding-bottom: 20px;
  }
  nav ul li {
    margin-top: 5px;
  }
  
}